<div class="container">
    <div class="row">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <h2>登録情報編集</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <%= form_for(@user) do |f| %>
                <div class="field">
                    <label for="last_name">氏名</label>
                    <%= f.text_field :last_name , class:"form-control" %>
                    <label for="first_name"></label>
                    <%= f.text_field :first_name , class:"form-control" %>
                </div>
                <div class="field">
                    <label for="last_name_kana">フリガナ</label>
                    <%= f.text_field :last_name_kana , class: "form-control" %>
                    <label for="first_name_kana"></label>
                    <%= f.text_field :first_name_kana , class: "form-control" %>
                </div>
                <div class="field">
                    <label for="postcode">郵便番号</label>
                    <%= f.text_area :postcode , class:"form-control" %>
                </div>
                <div class="field">
                    <label for="address">住所</label>
                    <%= f.text_area :address , class:"form-control" %>
                </div>
                <div class="field">
                    <label for="phone_number">電話番号</label>
                    <%= f.text_area :phone_number , class:"form-control" %>
                </div>
                <div class="field">
                    <label for="email">メールアドレス</label>
                    <%= f.text_area :email , class:"form-control" %>
                </div>
                <%= f.submit "編集内容を保存" %>
                <% end %>
            </div>
        </div>

        <div class="row">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <%= button_to "退会する", {controller: 'users', action: 'quit'}, {method: :get} %>
                </div>
            </div>
        </div>

    </div>
</div>