<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <h2>注文履歴一覧</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">注文日</th>
                        <th scope="row">配送先</th>
                        <th scope="row">注文商品</th>
                        <th scope="row">支払金額</th>
                        <th scope="row">ステータス</th>
                        <th scope="row">注文詳細</th>
                    </tr>
                    <% @orders.each do |order| %>
                    <tr>
                        <td><%= order.created_at.to_s(:datetime_jp) %> </td>
                        <td><%= order.postcode %><%= order.ship_address %><%= order.ship_name %> </td>
                        <td><% order.order_items.each do |order_item| %>
    		          	<%= order_item.name %><br>
    		          <% end %> </td>
                        <td><%= order.billing_amount %>円 </td>
                        <td><%= order.order_status %> </td>
                        <td>
                        <%= link_to "注文詳細", order_path(order.id), class: "glyphicon glyphicon-zoom-in btn btn-success"  %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>